<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://poc-email-copilot.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/a1199172-c74f-433d-8e74-06e37abcb712/resourcegroups/rg-smartparking-ai-experiments/providers/Microsoft.Web/sites/poc-email-copilot</ResourceId>
    <UserName>$poc-email-copilot</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://poc-email-copilot.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>